{% extends 'base_navbar_paciente.html' %}

{% block content %}


  <div class="welcome-section">
      <div class="container">
          <h2 class="text-center mb-4">Bienvenido {{ user.username }}</h2>
  </div>


<div class="container my-5">
  <h1 class="text-center mb-5 main-title">Información de Pacientes</h1>
  <div class="row g-4">

{% for medico, paciente in items %}

      <div class="col-md-4">
          <div class="card patient-card shadow">
              <div class="card-body">
                  <h5 class="card-title">Médico: {{ medico.id_medico.username }}</h5>
                  <h6 class="card-text">Paciente: {{paciente.nombre}} {{paciente.apellido}}</h6>
                  <p class="card-text">Cédula: {{ paciente.cedula }}</p>
                  <a href="{% url 'mis_informes' pk_paciente=paciente.id pk_medico=medico.id_medico_id %}" class="btn btn-primary">Ver informes</a>
              </div>
          </div>
      </div>

{% endfor %}
  </div>
</div>

{% endblock %}