{% extends 'base_navbar_paciente.html' %}

{% block content %}



{% if analisis %}

<div class="container mt-5">
    <div class="card">
      <div class="card-header bg-primary text-white">
        <h3 class="mb-0">Resultados del Análisis</h3>
      </div>
      
      <div class="card-body">

    {% for item in analisis %}

    
        <div class="row g-4">
          <div class="col-md-6">
            <div class="analysis-info">
              <strong>Número de Análisis:</strong>
              <div class="info-content mt-2">{{ item.id }}</div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="analysis-info">
              <strong>Resultado de la Red Neuronal: </strong>
              <div class="info-content mt-2">{{ item.resultado }}</div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="analysis-info">
              <strong>Probabilidad: </strong>
              <div class="info-content mt-2">{{ item.probabilidad }}</div>
            </div>
          </div>
          <div class="col-12">
            <div class="analysis-info">
              <strong>Recomendaciones: </strong>
              <div class="info-content recommendations mt-2">
                {{ item.recomendaciones }}
              </div>
            </div>
          </div>


          <div class="container mt-5">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="card custom-card">
                        <div class="card-img-container">
                            <img src="{{ item.id_imagen.imagen.url }}" alt="Imagen de análisis" class="card-img-top">
                            <div class="card-img-overlay">
                                <p class="card-text" id="n-analisis">Numero de Análisis: {{ item.id }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
          

    {% endfor %}


    {% else %}

        <div class="medical-record-wrapper">      
            <div class="medical-record-section">
                <p class="medical-record-info">
                    <i class="fas fa-history medical-record-icon"></i>
                    Su médico no ha realizado análisis en el sistema
                </p>
            </div>
        </div>

    {% endif %}
      
        
    {% if informes %}

            {% for informe in informes %}

            
        <div class="container mt-4">
            <div class="card">
                <div class="card-header">
                    <h2 class="card-title mb-0">Datos de la Consulta. Informe N: {{ informe.id }}</h2>
                </div>
                <div class="card-body p-0">
                    <div class="field">
                        <div class="field-label">Motivo de consulta</div>
                        <div class="field-value">{{ informe.motivo_consulta }}</div>
                    </div>
                    <div class="field">
                        <div class="field-label">Observaciones</div>
                        <div class="field-value large-field">
                          {{ informe.observaciones }}
                        </div>
                    </div>
                    <div class="field">
                        <div class="field-label">Recomendaciones</div>
                        <div class="field-value large-field">
                          {{ informe.recomendaciones }}
                        </div>
                    </div>
                    <div class="field">
                        <div class="field-label">Medicación</div>
                        <div class="field-value large-field">
                          {{ informe.medicacion }}
                        </div>
                    </div>
                    <div class="field">
                        <div class="field-label">Fecha de consulta</div>
                        {{ informe.fecha_consulta }}
                    </div>
                    <div class="card-footer bg-transparent border-0 pb-4">
                      <a href="{% url 'descargar' pk=informe.id %}" target="_blank"><button class="btn btn-lg w-100 edit-button">
                        <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 19V5m0 14-4-4m4 4 4-4"/>
                        </svg>
                          Imprimir Informe
                    </button></a>
                </div>
            </div>
            {% endfor %}

    {% else %}
        
        <div class="medical-record-wrapper">      
            <div class="medical-record-section">
                <p class="medical-record-info">
                    <i class="fas fa-history medical-record-icon"></i>
                    Su médico no ha subido informes
                </p>
            </div>
        </div>
    {% endif %}


{% endblock %}