{% extends "base_navbar_medico.html" %}
    
{% block content %}
<body>
<form method="post">
{% csrf_token %}

<div class="patient-report-outer-container">
    <div class="patient-report-inner-container">
        <h2 class="patient-report-title">Realizar informe al paciente {{ paciente.nombre }} {{ paciente.apellido }}</h2>
        <form>
            <div class="mb-3">
                <label for="patientReportConsultationReason" class="patient-report-label form-label">Inicio de la enfermedad</label>
                <label style="color: red;">*</label>
                {{ form.inicio_enfermedad }}
            </div>
            <div class="mb-3">
                <label for="patientReportObservations" class="patient-report-label form-label">Caracteristicas de la enfermedad</label>
                <label style="color: red;">*</label>
                {{ form.caracterizado }}
            </div>
            <div class="mb-3">
                <label for="patientReportRecommendations" class="patient-report-label form-label">Examenes realizados</label>
                <label style="color: red;">*</label>
                {{ form.examenes }}
            </div>
            <div class="mb-3">
                <label for="patientReportMedication" class="patient-report-label form-label">Antecedentes de importancia</label>
                <label style="color: red;">*</label>
                {{ form.antecedentes_importancia }}
            </div>
            <div class="mb-3">
                <label for="patientReportConsultationDate" class="patient-report-label form-label">Frecuencia cardíaca (PPM)</label>
                <label style="color: red;">*</label>
                {{ form.frecuencia_cardiaca }}
            </div>
            <div class="mb-3">
                <label for="patientReportConsultationDate" class="patient-report-label form-label">Frecuencia respiratoria (RPM)</label>
                <label style="color: red;">*</label>
                {{ form.frecuencia_respiratoria }}
            </div>
            <div class="mb-3">
                <label for="patientReportConsultationDate" class="patient-report-label form-label">Tensión arterial (mmHg)</label>
                <label style="color: red;">*</label>
                {{ form.tension_arterial }}
            </div>
            <div class="mb-3">
                <label for="patientReportConsultationDate" class="patient-report-label form-label">Saturación de oxígeno (%)</label>
                <label style="color: red;">*</label>
                {{ form.saturacion_oxigeno }}
            </div>
            <div class="mb-3">
                <label for="patientReportConsultationDate" class="patient-report-label form-label">Recomendación</label>
                <label style="color: red;">*</label>
                {{ form.recomendacion }}
            </div>
            <button type="submit" class="patient-report-submit-btn btn btn-primary">Registrar informe</button>
            
            <input type='hidden' value='{{ paciente.id }}' name='pk'>

        </form>
    </div>
</div>
</form>





</body>
    
{% endblock content %}