<html>
<head>

    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% load static %}
  
    <link rel="stylesheet" href="{% static 'styles.css' %}">
  
  </head>



        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'index_medico' %}">Inicio</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="{% url 'registrar_paciente' %}">Registrar Nuevo Paciente</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'logout' %}" tabindex="-1">Cerrar Sesion</a>
                </li>
              </ul>
              <form class="d-flex" method="get" action="{% url 'buscar' %}">
                <select class="nav-item dropdown" name="filtro">
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <option value="apellido">Apellido</option>
                      <option value="nombre">Nombre</option>
                      <option value="cedula">Cedula</option>
                    </ul>
                </select>
                <input class="form-control me-2" type="search" placeholder="Seleccione el filtro de busqueda" aria-label="Search" name="datos">
                <button class="btn btn-outline-success" type="submit">Buscar paciente</button>
              </form>
            </div>
          </div>
        </nav>


{% block content %}


{% endblock %}
</html>