{% extends "base_navbar_medico.html" %}



{% block content %}

{% if messages %}
    {% for message in messages %}
    <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
        {{ message }}
    </div>
    {% endfor %}
{% endif %}


<h3 class="text-center mb-4" id="titulo">Al duplicar la historia del paciente, se creará un nuevo registro con los mismos datos y antecedentes.</h3>

<h3 class="text-center mb-4" id="titulo">Deberá actualizar los datos que sean necesarios.</h3>

<form method="post"> {% csrf_token %}

    <input type='hidden' value='{{ paciente_id }}' name='pk'>

    <button class="btn btn-lg w-100 edit-button">
        <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
            <path stroke="currentColor" stroke-linejoin="round" stroke-width="2" d="M9 8v3a1 1 0 0 1-1 1H5m11 4h2a1 1 0 0 0 1-1V5a1 1 0 0 0-1-1h-7a1 1 0 0 0-1 1v1m4 3v10a1 1 0 0 1-1 1H6a1 1 0 0 1-1-1v-7.13a1 1 0 0 1 .24-.65L7.7 8.35A1 1 0 0 1 8.46 8H13a1 1 0 0 1 1 1Z"/>
          </svg>          
        Crear nueva historia de este paciente
    </button>

</form>

{% endblock content %}