{% extends "base.html" %}

{% block content %}
<body>

  <div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2 chart-container">
            <h1 class="text-center">Estadísticas de Pacientes por Sexo</h1>
            <canvas id="myChart"></canvas>
        </div>
        <div class="col-md-8 offset-md-2 chart-container">
            <h1 class="text-center">Estadísticas de Pacientes por Rango de Edad</h1>
            <canvas id="Chart"></canvas>
        </div>
    </div>
</div>

    


</body>
{% endblock content %}

{% block scripts %}
<script>

  const ctx = document.getElementById('myChart').getContext('2d');
  new Chart(ctx, {
      type: 'bar',
      data: {
          labels: ['Hombres', 'Mujeres'],
          datasets: [{
              label: 'Sexo de los pacientes registrados',
              data: [{{hombres}}, {{mujeres}}],
              backgroundColor: [
                  'rgba(54, 162, 235, 0.8)',
                  'rgba(255, 99, 132, 0.8)' //Color naranja
              ],
              borderColor: [
                  'rgba(54, 162, 235, 1)',
                  'rgba(255, 99, 132, 1)'
              ],
              borderWidth: 1
          }]
      },
      options: {
          responsive: true,
          plugins: {
              legend: {
                  position: 'top',
              },
              title: {
                  display: true,
                  text: 'Distribución por Sexo de Pacientes Registrados',
                  font: {
                      size: 18
                  }
              }
          },
          scales: {
              y: {
                  beginAtZero: true,
                  ticks: {
                      callback: function(value) {
                          return value + '%';
                      }
                  }
              }
          }
      }
  });

    
  const edad = document.getElementById('Chart').getContext('2d');
  new Chart(edad, {
      type: 'bar',
      data: {
          labels: ['De 5 a 11', 'De 12 a 21'],
          datasets: [{
              label: 'Edad en años de los pacientes',
              data: [{{edades_5_10}}, {{edades_10_20}}],
              backgroundColor: [
                  'rgba(54, 162, 235, 0.8)', //Color azul
                  'rgba(54, 162, 235, 0.8)'
              ],
              borderColor: [
                  'rgba(54, 162, 235, 1)',
                  'rgba(54, 162, 235, 1)'
              ],
              borderWidth: 1
          }]
      },
      options: {
          responsive: true,
          plugins: {
              legend: {
                  position: 'top',
              },
              title: {
                  display: true,
                  text: 'Distribución de Edad de Pacientes Registrados',
                  font: {
                      size: 18
                  }
              }
          },
          scales: {
              y: {
                  beginAtZero: true,
                  ticks: {
                      callback: function(value) {
                          return value + '%';
                      }
                  }
              }
          }
      }
  });
    
  


</script>

{% endblock scripts %}
