<!DOCTYPE html>
<html>

<head>

    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% load static %}
  
    <link rel="stylesheet" href="{% static 'styles.css' %}">
  
  </head>

<body>
  

  
<h2 id="titulo">Historia del paciente</h2>

<a href="{% url 'logout_paciente' %}">Cerrar sesion</a>

    {% csrf_token %}

    <h4>Nombre: {{ paciente.nombre }} </h4>
    <h4>Apellido: {{ paciente.apellido }} </h4>
    <h4>Cedula: {{ paciente.cedula }}</h4>
    <h4>Sexo: {{ paciente.sexo }}</h4>
    <h4>Peso en Kg: {{ paciente.peso }}</h4>
    <h4>Altura: {{ paciente.altura }}</h4>
    <h4>Telefono: {{ paciente.telefono }}</h4>
    <h4>Correo electronico: {{ paciente.email }}</h4>
    <h4>Direccion: {{ paciente.direccion }}</h4>
    <h4>Edad: {{ paciente.edad }} </h4>
    <h4>Fecha de nacimiento: {{ paciente.fecha_nacimiento }}</h4>

    {% if antecedentes == True %}

        {% for antecedenteID, antecedente in antecedentes %}
            <h4>Tipo de antecedente {{ antecedenteID.tipo_antecedente }}: {{ antecedente.antecedente_descrip }}</h4>

        {% endfor %} 

    {% endif %}

    {% if informes %}

        {% for informe in informes %}

            <h4>Informe N: {{ informe.id }} correspondiente al analisis: {{ informe.id_analisis.id }}</h4>
            <h4>Motivo de la consulta: {{ informe.motivo_consulta }}</h4>
            <h4>Observaciones: {{ informe.observaciones }}</h4>
            <h4>Recomendaciones: {{ informe.recomendaciones }}</h4>
            <h4>Medicacion prescrita: {{ informe.medicacion }}</h4>
        
        {% endfor %}

    {% else %}

        <h4>Su medico no ha registrado informes</h4>

    {% endif %}

</body>

</html>