{% extends "base.html" %}
{% block content %}

<h2 id="titulo">Listado de analisis</h2>

{% for paciente in pacientes %}

<div class="py-5">
    <div class="container">
      <div class="row hidden-md-up">
        <div class="col-md-4">
          <div class="card ">
            <div class="card-block w-100">
              <h4 class="card-title">{{ paciente.nombre }} {{ paciente.apellido }}</h4>
              <a href="{% url 'ver_paciente' paciente.id %}">Revisar historial</a>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>

{% endfor %}

{% endblock %}

