<!DOCTYPE html>
<html>

<head>

    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% load static %}
  
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
  </head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" href="{% url 'logout' %}">Cerrar Sesion</a>
              </li>
            </ul>
            </div>
        </div>
      </nav>

<h2 id="titulo">Bienvenido {{ user.username }}</h2>

<h4>Pacientes registrados:</h4>

{% for paciente in pacientes %}

      <a href="{% url 'mis_medicos' pk=paciente.id %}"><h5>{{paciente.nombre}} {{paciente.apellido}} Cedula: {{paciente.cedula}}</h5></a>

{% endfor %}