<!DOCTYPE html>
<html>

<head>

    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% load static %}
  
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'index_paciente' %}">Inicio</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" href="{% url 'logout' %}">Cerrar Sesion</a>
            </li>
          </ul>
          </div>
      </div>


      
      <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <input type=button value="Previous Page" onClick="javascript:history.go(-1);">
            </li>
          </ul>
          </div>
      </div>
    </nav>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" href="{% url 'logout' %}">Cerrar Sesion</a>
              </li>
            </ul>
            </div>
        </div>
      </nav>

<h2>Listado de medicos:</h2>

{% for medico in medicos %}

      <a href="{% url 'mis_informes' pk_paciente=pk_paciente pk_medico=medico.id_medico.id %}"><h5>{{medico.id_medico.username}} {{medico.id_medico.id}}</h5></a>

{% endfor %}

 
</body>

</html>