<!DOCTYPE html>
<html>

<head>

  {% load bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
  {% load static %}

  <link rel="stylesheet" href="{% static 'styles.css' %}">

</head>

<body>


<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'home' %}">Inicio</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
          <a class="nav-link active" href="{% url 'registrar_paciente' %}">Registrar paciente</a>
          <a class="nav-link active" href="{% url 'registrar_analisis' %}">Registrar Analisis</a>
          <a class="nav-link active" href="{% url 'logout' %}">Cerrar sesion</a>
      </div>
    </div>
  </div>
</nav>

<h2 id="analisis">Registro de analisis</h2>


<h3>Cargue la imagen de su radiografia para realizar el analisis</h3>


<form method="post" enctype="multipart/form-data">

    {% csrf_token %}

    <input type="file" name="radiografia"> <br>

    <label for="paciente">Seleccione al paciente:</label>
    <select name="paciente">
        {% for paciente in pacientes %}
      <option value="{{ paciente.id }}">{{ paciente.cedula }}</option>
        {% endfor %}
    </select>
    <br>
    <input type="submit">

</form>

</body>

</html>