<!DOCTYPE html>
<html>

<head>

  {% load bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
  {% load static %}

  <link rel="stylesheet" href="{% static 'styles.css' %}">

</head>

<body>



<h2 id="analisis">Realizar analisis al paciente {{ paciente.nombre }} {{ paciente.apellido }}</h2>


<h3>Cargue la imagen de su radiografia para realizar el analisis</h3>
<h4>La red neuronal solo procesas imagenes postero anteriores del torax, no se garantiza una alta precision si se utiliza otro tipo de proyeccion</h4>
<h4>Una vez subida la imagen, podra ver los resultados del analisis en la pagina del paciente</h4>
<h4>El paciente tambien podra ver el resultado del analisis</h4>

<form method="post" enctype="multipart/form-data">

    {% csrf_token %}


    <input type="file" name="radiografia"> <br>

    <br>

    
    <input type='hidden' value='{{ paciente.id }}' name='pk'>

    <input type="submit">

</form>

</body>

</html>