{% extends "base.html" %}
    
{% block content %}
<h2 id="titulo">Realizar informe del paciente {{ paciente.nombre }} {{ paciente.apellido }}</h2>
<label for="analisis_id">Seleccione el numero de analisis al que corresponde este informe:</label>



<form method="post">

    {% csrf_token %}

    <div id="formulario">

        <select name="analisis_id">
            {% for item in analisis %}
                <option value="{{ item.id }}">
                    {{ item.id }}
                </option1>
            {% endfor %}
            
            </select>
    
        <div class="col-sm-5">
            {{ form.motivo_consulta.label_tag }}
            {{ form.motivo_consulta }}
            
        </div>

        <div class="col-sm-5">
            {{ form.observaciones.label_tag }}
            {{ form.observaciones }}
    
        </div>
                
        <div class="col-sm-5">
            {{ form.recomendaciones.label_tag }}
            {{ form.recomendaciones }}
        </div>

        <div class="col-sm-5">
            {{ form.medicacion.label_tag }}
            {{ form.medicacion }}
        </div>
        
        <div class="col-sm-5">
            {{ form.fecha_consulta.label_tag }}
            {{ form.fecha_consulta }}
        </div>

        <input type='hidden' value='{{ paciente.id }}' name='pk'>

        

        <input type="submit" class="btn btn-primary">
    
        
    </div>


</form>

    
{% endblock %}