{% extends "base_navbar_medico.html" %}
    
{% block content %}
<body>
<form method="post">
{% csrf_token %}

<div class="patient-report-outer-container">
    <div class="patient-report-inner-container">
        <h2 class="patient-report-title">Realizar informe del paciente {{ paciente.nombre }} {{ paciente.apellido }}</h2>
        <form>
            <div class="mb-3">
                <label for="patientReportAnalysisNumber" class="patient-report-label form-label">Detalle todo lo relacionado a la consulta o analisis realizado:</label>
            </div>
            <div class="mb-3">
                <label for="patientReportConsultationReason" class="patient-report-label form-label">Motivo de la consulta:</label>
                {{ form.motivo_consulta }}
            </div>
            <div class="mb-3">
                <label for="patientReportObservations" class="patient-report-label form-label">Observaciones:</label>
                {{ form.observaciones }}
            </div>
            <div class="mb-3">
                <label for="patientReportRecommendations" class="patient-report-label form-label">Recomendaciones:</label>
                {{ form.recomendaciones }}
            </div>
            <div class="mb-3">
                <label for="patientReportMedication" class="patient-report-label form-label">Medicación:</label>
                {{ form.medicacion }}
            </div>
            <div class="mb-3">
                <label for="patientReportConsultationDate" class="patient-report-label form-label">Fecha consulta:</label>
                {{ form.fecha_consulta }}
            </div>
            <button type="submit" class="patient-report-submit-btn btn btn-primary">Enviar</button>
            
            <input type='hidden' value='{{ paciente.id }}' name='pk'>

        </form>
    </div>
</div>
</form>





</body>
    
{% endblock content %}