<!DOCTYPE html>
<html>

<head>

    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% load static %}
  
    <link rel="stylesheet" href="{% static 'styles.css' %}">
  
  </head>

<body>
  
<h2 id="titulo">Historia del paciente</h2>

      <div class="container mt-5">
        <div class="card">
          <div class="card-header bg-primary text-white">
            <h3 class="mb-0">Datos del Paciente</h3>
          </div>
          <div class="card-body">
            <div class="row g-3">
              <div class="col-md-6">
                <div class="patient-info">
                  <strong>Nombres:</strong> {{ paciente.nombre }}
                </div>
              </div>
              <div class="col-md-6">
                <div class="patient-info">
                  <strong>Apellido:</strong> {{ paciente.apellido }}
                </div>
              </div>
              <div class="col-md-6">
                <div class="patient-info">
                  <strong>Cédula de Identidad:</strong> {{ paciente.cedula }}
                </div>
              </div>
              <div class="col-md-6">
                <div class="patient-info">
                  <strong>Sexo:</strong> {{ paciente.sexo }}
                </div>
              </div>
              <div class="col-md-6">
                <div class="patient-info">
                  <strong>Peso:</strong> {{ paciente.peso }}
                </div>
              </div>
              <div class="col-md-6">
                <div class="patient-info">
                  <strong>Altura:</strong> {{ paciente.altura }} cm
                </div>
              </div>
              <div class="col-md-6">
                <div class="patient-info">
                  <strong>Correo Electrónico:</strong> {{ paciente.email }}
                </div>
              </div>
              <div class="col-md-6">
                <div class="patient-info">
                  <strong>Teléfono:</strong> {{ paciente.telefono }}
                </div>
              </div>
              <div class="col-md-6">
                <div class="patient-info">
                  <strong>Dirección:</strong> {{ paciente.direccion }}
                </div>
              </div>
              <div class="col-md-6">
                <div class="patient-info">
                  <strong>Edad:</strong> {{ paciente.edad }}
                </div>
              </div>
              <div class="col-md-6">
                <div class="patient-info">
                  <strong>Fecha de Nacimiento:</strong> {{ paciente.fecha_nacimiento }}
                </div>
              </div>
            </div>
          </div>
        </div>

    {% if antecedentes %}

    <div class="container mt-5">
        <div class="card">
          <div class="card-header bg-primary text-white">
            <h3 class="mb-0">Antecedentes del Paciente</h3>
          </div>
          <div class="card-body">
            <div class="row g-4">
            
        {% for antecedenteID, antecedente in antecedentes %}

            <div class="col-12">
                <div class="patient-history">
                  <strong>{{ antecedenteID.tipo_antecedente }}:</strong>
                  <div class="history-content mt-2">
                    {{ antecedente.antecedente_descrip }}
                  </div>
                </div>
              </div>

        {% endfor %}
        <h5><a href="{% url 'editar_antecedentes' pk=paciente.id %}">Editar los antecedentes de este paciente</a></h5>

              </div>
          </div>
        </div>
      </div>


    {% else  %}
        
        <h4>Este paciente no tiene antecedentes registrados</h4>
        <h5><a href="{% url 'registrar_antecedentes' pk=paciente.id %}">Registrar antecedentes de este paciente</a></h5>

    {% endif %}

    {% if analisis %}

    <div class="container mt-5">
        <div class="card">
          <div class="card-header bg-primary text-white">
            <h3 class="mb-0">Resultados del Análisis</h3>
          </div>
          
          <div class="card-body">

        {% for item in analisis %}

        
            <div class="row g-4">
              <div class="col-md-6">
                <div class="analysis-info">
                  <strong>Número de Análisis:</strong>
                  <div class="info-content mt-2">{{ item.id }}</div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="analysis-info">
                  <strong>Resultado de la Red Neuronal: </strong>
                  <div class="info-content mt-2">{{ item.resultado }}</div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="analysis-info">
                  <strong>Probabilidad: </strong>
                  <div class="info-content mt-2">{{ item.probabilidad }}</div>
                </div>
              </div>
              <div class="col-12">
                <div class="analysis-info">
                  <strong>Recomendaciones: </strong>
                  <div class="info-content recommendations mt-2">
                    {{ item.recomendaciones }}
                  </div>
                </div>
              </div>

        {% endfor %}

        <h5><a href="{% url 'registrar_analisis' pk=paciente.id %}">Realizar nuevo analisis</a></h5>

        </div>
        </div>
    
    </div>
    </div>

    <br><br>
    {% else %}
        <h4>El paciente no tiene analisis registrados</h4>
        <a href="{% url 'registrar_analisis' pk=paciente.id%}">Registrar analisis</a>
    {% endif %}

    {% if imagenes %}

    

        {% for imagen in imagenes %}


        <div class="container mt-5">
            <div class="card">
              <div class="card-body">
                <div class="image-container">
                  <img src="{{ imagen.imagen.url }}" alt="Imagen de análisis" class="analysis-image">
                </div>
                <div class="analysis-number mt-3">
                  <strong>Número de Análisis:</strong> {{ imagen.id }}
                </div>
              </div>
            </div>
          </div>
          
        {% endfor %}


    {% else %}

        <h4>El paciente no tiene ninguna imagen registrada</h4>
        
    {% endif %}

    {% if informes %}

        {% for informe in informes %}

            <h4>Informe N: {{ informe.id }} correspondiente al analisis: {{ informe.id_analisis.id }}</h4>
            <h4>Motivo de la consulta: {{ informe.motivo_consulta }}</h4>
            <h4>Observaciones: {{ informe.observaciones }}</h4>
            <h4>Recomendaciones: {{ informe.recomendaciones }}</h4>
            <h4>Medicacion prescrita: {{ informe.medicacion }}</h4>
        
        {% endfor %}

        <h5><a href="{% url 'registrar_informe' pk=paciente.id%}">Realizar nuevo informe</a></h5>
    {% else %}

        <h4>No ha registrado informes a este paciente</h4>
        <h5><a href="{% url 'registrar_informe' pk=paciente.id%}">Realizar nuevo informe</a></h5>


    {% endif %}

</body>

</html>