<!DOCTYPE html>
<html>

<head>

    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% load static %}
  
    <link rel="stylesheet" href="{% static 'styles.css' %}">
  
  </head>

<body>
  

  
<h2 id="titulo">Historia del paciente</h2>

    {% csrf_token %}

    <h4>Nombre del paciente: {{ paciente.nombre }} </h4>
    <h4>Nombre del paciente: {{ paciente.apellido }} </h4>
    <h4>Edad: {{ paciente.edad }} </h4>
    <h4>Cedula: {{ paciente.cedula }}</h4>
    <h4>Telefono: {{ paciente.telefono }}</h4>
    <h4>Correo electronico: {{ paciente.email_paciente }}</h4>
    <h4>Observaciones: {{ paciente.observaciones }}</h4>

    {% if analisis %}

        <h2 id="titulo">Analisis de la radiografia</h2>

        <h4>Resultado: {{ analisis.resultado }}</h4>
        <h4>Probabilidad: {{ analisis.probabilidad }}</h4>
        <h4>Recomendaciones: {{ analisis.recomendaciones }}</h4>

        <img src="{{ img.url }}" alt="">
    
    {% else %}

    <h2>Este paciente no tiene analisis registrados</h2>

    <a href="{% url 'registrar_analisis' %}">Registrar analisis</a>

    {% endif %}
    

    
</body>

</html>