{% extends "base_navbar_medico.html" %}
{% block content %}

<body>

      <div class="container mt-5">
        <div class="card">
          <div class="card-header bg-primary text-white">
            <h3 class="mb-0">Datos del Paciente</h3>
          </div>
          <div class="card-body">
            <div class="row g-3">
              <div class="col-md-6">
                <div class="patient-info">
                  <strong>Nombres:</strong> {{ relacion_paciente.id_paciente.nombre }}
                </div>
              </div>
              <div class="col-md-6">
                <div class="patient-info">
                  <strong>Apellido:</strong> {{ relacion_paciente.id_paciente.apellido }}
                </div>
              </div>
              <div class="col-md-6">
                <div class="patient-info">
                  <strong>Cédula de Identidad:</strong> {{ relacion_paciente.id_paciente.cedula }}
                </div>
              </div>
              <div class="col-md-6">
                <div class="patient-info">
                  <strong>Sexo:</strong> {{ relacion_paciente.id_paciente.sexo }}
                </div>
              </div>
              <div class="col-md-6">
                <div class="patient-info">
                  <strong>Peso:</strong> {{ relacion_paciente.id_paciente.peso }}
                </div>
              </div>
              <div class="col-md-6">
                <div class="patient-info">
                  <strong>Altura:</strong> {{ relacion_paciente.id_paciente.altura }} cm
                </div>
              </div>
              <div class="col-md-6">
                <div class="patient-info">
                  <strong>Correo Electrónico:</strong> {{ relacion_paciente.id_paciente.email }}
                </div>
              </div>
              <div class="col-md-6">
                <div class="patient-info">
                  <strong>Teléfono:</strong> {{ relacion_paciente.id_paciente.telefono }}
                </div>
              </div>
              <div class="col-md-6">
                <div class="patient-info">
                  <strong>Dirección:</strong> {{ relacion_paciente.id_paciente.direccion }}
                </div>
              </div>
              <div class="col-md-6">
                <div class="patient-info">
                  <strong>Edad:</strong> {{ relacion_paciente.id_paciente.edad }}
                </div>
              </div>
              <div class="col-md-6">
                <div class="patient-info">
                  <strong>Fecha de Nacimiento:</strong> {{ relacion_paciente.id_paciente.fecha_nacimiento }}
                </div>
              </div>
            </div>
            <div class="card-footer bg-transparent border-0 pb-4">
              <a href="{% url 'editar_paciente' pk=relacion_paciente.id_paciente_id %}"><button class="btn btn-lg w-100 edit-button">
                  <svg class="edit-icon me-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                      <path d="M11 4H4a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7"></path>
                      <path d="M18.5 2.5a2.121 2.121 0 0 1 3 3L12 15l-4 1 1-4 9.5-9.5z"></path>
                  </svg>
                  Editar datos del paciente
              </button></a>
            </div>
          </div>
        </div>

    {% if antecedentes %}

    <div class="container mt-5">
        <div class="card">
          <div class="card-header bg-primary text-white">
            <h3 class="mb-0">Antecedentes del Paciente</h3>
          </div>
          <div class="card-body">
            <div class="row g-4">
            
        {% for antecedenteID, antecedente in antecedentes %}

            <div class="col-12">
                <div class="patient-history">
                  <strong>{{ antecedenteID }}:</strong>
                  <div class="history-content mt-2">
                    {{ antecedente.antecedente_descrip }}
                  </div>
                </div>
              </div>

        {% endfor %}

              </div>
          </div>
          
          <div class="card-footer bg-transparent border-0 pb-4">
            <a href="{% url 'editar_antecedentes' pk=relacion_paciente.id_paciente_id %}"><button class="btn btn-lg w-100 edit-button">
                <svg class="edit-icon me-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M11 4H4a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7"></path>
                    <path d="M18.5 2.5a2.121 2.121 0 0 1 3 3L12 15l-4 1 1-4 9.5-9.5z"></path>
                </svg>
                Editar antecedentes del paciente
            </button></a>

        </div>
      </div>


    {% else  %}

    <div class="medical-record-wrapper">      
      <div class="medical-record-section">
          <p class="medical-record-info">
              <i class="fas fa-history medical-record-icon"></i>
              Este paciente no tiene antecedentes registrados
          </p>
          <a href="{% url 'registrar_antecedentes' pk=relacion_paciente.id_paciente_id %}" class="medical-record-action">
              <i class="fas fa-plus-circle"></i> Registrar antecedentes de este paciente
          </a>
      </div>
  </div>

    {% endif %}

    {% if analisis %}

    <div class="container mt-5">
        <div class="card">
          <div class="card-header bg-primary text-white">
            <h3 class="mb-0">Resultados del Análisis</h3>
          </div>
          
          <div class="card-body">

        {% for item in analisis %}

        
            <div class="row g-4">
              <div class="col-md-6">
                <div class="analysis-info">
                  <strong>Número de Análisis:</strong>
                  <div class="info-content mt-2">{{ item.id }}</div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="analysis-info">
                  <strong>Resultado de la Red Neuronal: </strong>
                  <div class="info-content mt-2">{{ item.resultado }}</div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="analysis-info">
                  <strong>Probabilidad: </strong>
                  <div class="info-content mt-2">{{ item.probabilidad }}</div>
                </div>
              </div>
              <div class="col-12">
                <div class="analysis-info">
                  <strong>Recomendaciones: </strong>
                  <div class="info-content recommendations mt-2">
                    {{ item.recomendaciones }}
                  </div>
                </div>
              </div>


              <div class="container mt-5">
                <div class="row">
                    <div class="col-lg-8 col-md-10 mx-auto">
                        <div class="card custom-card">
                            <div class="card-img-container">
                                <img src="{{ item.id_imagen.imagen.url }}" alt="Imagen de análisis" class="card-img-top">
                                <div class="card-img-overlay">
                                    <p class="card-text" id="n-analisis">Numero de Analisis: {{ item.id }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
              

        {% endfor %}

        
        <div class="card-footer bg-transparent border-0 pb-4">
          <a href="{% url 'registrar_analisis' pk=relacion_paciente.id_paciente_id %}"><button class="btn btn-lg w-100 edit-button">
              <svg class="edit-icon me-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                  <path d="M11 4H4a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7"></path>
                  <path d="M18.5 2.5a2.121 2.121 0 0 1 3 3L12 15l-4 1 1-4 9.5-9.5z"></path>
              </svg>
              Realizar nuevo analisis
          </button></a>

        </div>
        </div>

    
    </div>
    </div>

    <br><br>
    {% else %}

    <div class="medical-record-wrapper">      
      <div class="medical-record-section">
          <p class="medical-record-info">
              <i class="fas fa-history medical-record-icon"></i>
              El paciente no tiene analisis registrados
          </p>
          <a href="{% url 'registrar_analisis' pk=relacion_paciente.id_paciente_id %}" class="medical-record-action">
              <i class="fas fa-plus-circle"></i> Registrar analisis
          </a>
      </div>
  </div>

  

    {% endif %}

    {% if informes %}

        {% for informe in informes %}

            <div class="container mt-4">
              <div class="card">
                  <div class="card-header">
                      <h2 class="card-title mb-0">Datos de la Consulta. Informe N: {{ informe.id }}</h2>
                  </div>
                  <div class="card-body p-0">
                      <div class="field">
                          <div class="field-label">Motivo de consulta</div>
                          <div class="field-value">{{ informe.motivo_consulta }}</div>
                      </div>
                      <div class="field">
                          <div class="field-label">Observaciones</div>
                          <div class="field-value large-field">
                            {{ informe.observaciones }}
                          </div>
                      </div>
                      <div class="field">
                          <div class="field-label">Recomendaciones</div>
                          <div class="field-value large-field">
                            {{ informe.recomendaciones }}
                          </div>
                      </div>
                      <div class="field">
                          <div class="field-label">Medicación</div>
                          <div class="field-value large-field">
                            {{ informe.medicacion }}
                          </div>
                      </div>
                      <div class="field">
                          <div class="field-label">Fecha de consulta</div>
                          {{ informe.fecha_consulta }}
                      </div>
                  </div>
        
          <div class="card-footer bg-transparent border-0 pb-4">
            <a href="{% url 'registrar_informe' pk=relacion_paciente.id_paciente_id %}"><button class="btn btn-lg w-100 edit-button">
                <svg class="edit-icon me-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M11 4H4a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7"></path>
                    <path d="M18.5 2.5a2.121 2.121 0 0 1 3 3L12 15l-4 1 1-4 9.5-9.5z"></path>
                </svg>
                Realizar nuevo informe
            </button></a>
              </div>        
              <div class="card-footer bg-transparent border-0 pb-4">
                <a href="{% url 'descargar' pk=informe.id %}" target="_blank"><button class="btn btn-lg w-100 edit-button">
                  <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 19V5m0 14-4-4m4 4 4-4"/>
                  </svg>
                    Imprimir Informe
                </button></a>
                  </div>
          </div>
        
        {% endfor %}

    {% else %}

    
    <div class="medical-record-wrapper">      
      <div class="medical-record-section">
          <p class="medical-record-info">
              <i class="fas fa-history medical-record-icon"></i>
              No ha registrado informes a este paciente
          </p>
          <a href="{% url 'registrar_informe' pk=relacion_paciente.id_paciente_id %}" class="medical-record-action">
              <i class="fas fa-plus-circle"></i> Realizar nuevo informe
          </a>
      </div>
  </div>


    {% endif %}

</body>

{% endblock %}