<html>

<head>

    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% load static %}
  
    <link rel="stylesheet" href="{% static 'styles.css' %}">
  
  </head>
    
{% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
                <strong>{{field.label_tag}} {{ error }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
{% endif %}



<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header text-center py-3">
                    <h2 class="mb-0">Recuperación de contraseña</h2>
                </div>
                <div class="card-body">
                    <p class="text-center mb-4">Ingrese su correo electrónico para recuperar su contraseña</p>
                    <form method='post'>{% csrf_token %}
                        <div class="mb-3">
                            <label for="email" class="form-label">Correo electrónico:</label>
                            {{ form.email }}
                        </div>
                        <div class="d-grid">
                            <button type="submit" class="btn btn-primary">Enviar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

</html>