<form method="post">{% csrf_token %}
        <input class="hidden" autocomplete="username" value="{{ form.user.get_username }}">
        <div class="form-row field-password1">
            {{ form.new_password1.errors }}
            <label for="id_new_password1">Nueva contraseña</label>
            {{ form.new_password1 }}
        </div>
        <div class="form-row field-password2">
            {{ form.new_password2.errors }}
            <label for="id_new_password2">Confirmar contraseña</label>
            {{ form.new_password2 }}
        </div>
        <input type="submit" value="Cambiar contraseña">
</form>