<html>

<head>

    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% load static %}
  
    <link rel="stylesheet" href="{% static 'styles.css' %}">
  
  </head>

<h2>Recuperacion de contraseña</h2>

<h3>Ingrese su correo electronico</h3>

<form action="post">

    {% csrf_token %} 

    {{ form.email.errors }}

    <div class="col-sm-5">

        {{ form.email.label_tag }}
        {{ form.email }}

    </div>

    <input type="submit" class="btn btn-primary" name="Send email">

</form>

</html>